body {
    background-image: linear-gradient(rgba(3, 3, 3, .7), rgba(3, 3, 3, .7)), url(/assets/img/diamonds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(3, 3, 3);
    color: #fff;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar .collapse {
    font-size: 22px;
    margin-right: 20px
}

.navbar button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
    text-decoration: none;
    color: rgb(175, 248, 224);
}

.section-padding {
    padding-left: 12%;
    padding-right: 12%;
}

#home h1 {
    line-height: 1.4;
}

hr {
    width: 75%;
    border-radius: 60%;
    border-color: #fff;
    margin: 5% auto;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

h3 {
    font-size: 36px;
}

.store-hours {
    font-size: 22px;
}

.modal-content {
    background-color: rgb(22, 22, 22);
}

.modal-content p {
    font-size: 24px;
}

@media (max-width: 1000px) { 
    .navbar .collapse {
        font-size: 18px;
        margin-right: 0
    }
}