/* RESETS */
* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img/diamonds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* GLOBAL CLASSES */
.text-center {
    text-align: center;
}

.section-padding {
    padding-left: 12%;
    padding-right: 12%;
}

/* HEADER STYLES */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 3%;
    z-index: 10;
    background-color: transparent;
}

.logo {
    font-size: 16px;
    text-align: center;
    color: white;
}

/* nav a:not(:last-child) {
    margin-right: 10px;
} */

.nav-links {
    padding-right: 3%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 40px ;
    transition: 0.5s ease-in-out;
}

nav a:hover {
    background-color: rgb(112, 112, 112, 0.4);
}

/* HERO STYLES */
.hero {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    /* height: 100vh; */
    color: white;
}

.hero h1 {
    font-size: 24px;
    line-height: 1.4;
}

.hero h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 25px;
}

.map-link a {
    color: rgb(175, 248, 224);
}

/* .map:hover {
    cursor: pointer;
} */

.hero hr {
    width: 75%;
    border-radius: 80%;
    margin: 5% auto;
}

.store-hours {
    font-size: 24px;
}

.hours {
    margin-top: 2%;
    font-size: 16px;
    list-style: none;
    text-align: left;
    justify-content: space-between;
}

.hours li {
    margin-top: 10px;
    text-align: center;
}

#contact h3 {
    margin-top: 0;
    font-size: 24px;
}

#contact h4 {
    margin: 3% 0;
    font-size: 16px;
}

/* MAIN STYLES */
main {
    background-color: rgb(238, 224, 201);
    padding: 200px;
    display: none;
}

/* FOOTER STYLES */
footer {
    background-color: rgb(241, 240, 232);
    padding: 100px;
    display: none;
}

/* MEDIA QUERIES */
@media (min-width: 950px) { 
    .hero h1 {
        font-size: 32px;
    }
    .hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1500px) {
    .logo {
        font-size: 24px;
        text-align: center;
    }
    .nav-links {
        font-size: 24px;
        justify-content: space-between;
    }
    .hero h1 {
        font-size: 42px;
    }
    .hero h2 {
        font-size: 32px;
    }
    .store-hours {
        font-size: 36px;
    }
    .hours {
        font-size: 24px;
    }
    #contact h3 {
        font-size: 36px;
    }
    #contact h4 {
        font-size: 24px;
    }
}